



.contactBanner{
    min-width: 100%;
    height: 41vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../../../public/contact-banner.webp);
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(50%);
        width: 100%;
        height: 100%;
    }
    .contact_title{
        z-index: 2;
        font-size: 4.2rem;
        font-family: 'Mulish', 'sans-serif';
        color: white;
      
    }
    .contact_para{
        z-index: 2;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        text-decoration: none;
        .contact_span{
            color: orangered;
        }
        .contactArorwIcon{
            margin-inline: 1rem;
            cursor: text;
        }
    }
}


@media (min-width: 768px) and (max-width: 991px){

    .contactBanner{
        .contact_title{
            font-size: 5.4rem;          
        }
        .contact_para{
            font-size: 2.4rem;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .contactBanner{
        .contact_title{
            font-size: 6.4rem;          
        }
        .contact_para{
            font-size: 2.9rem;
        }
    }
}

@media (max-width: 575px){
       .contactBanner{
        .contact_title{
            font-size: 4rem;          
        }
        .contact_para{
            font-size: 3.3rem;
        }
    }
}