
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700;800&family=Roboto:wght@300&display=swap');

.container{
    .navbar{
        .navbar-brand{

        }
        .navbar-toggler:focus{
            outline: none;
            box-shadow: none;
        }
        .navbar-toggler{
            border: none;
            background-color: orangered;
            font-size: 15px;
            padding: 5px 8px;
        }
            .navbar-nav{
                .nav-link{
                    font-size: 17px;
                    font-weight: 800;
                    color: black;
                    font-family: 'Mulish', sans-serif;
                    margin-inline: 10px;
                    &:hover{
                        color: orange;
                    }
                }
            }
    }
}


@media (max-width: 500px){
    .container{
        .navbar{
            .navbar-brand{
                .img_fluid{
                    width: 170px;
                    height: 94px;
                }
            }
            .navbar-nav{
                .nav-link{
                    font-size: 16px;}
            }
        }
    }
}