

.teamSection{
    min-width: 100%;
    background-color: rgba(200,215,221,0.18);
    padding: 4rem 5rem;
    .container{
      .main_row{
        .card{
            background-color: transparent;
            border: 1px solid black;
            padding: 3rem 1rem 5.9rem .8rem; 
          .card-body{  
            .team_title{
                font-size: 3.5rem;
                font-weight: 800;
                position: relative;
                font-family: 'Mulish', 'sans-serif';
                color: rgb(3, 3, 77);
                margin-bottom: 4rem;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -1rem;
                    left: 0;
                    width: 2.4rem;
                    height: .5rem;
                    background-color: rgb(43, 39, 37);
                    
                }
            }
            .team_text{
                font-size: 1.6rem;
                color: grey;
                margin-bottom: 3rem;
            }

            .btnsection{
                display: inline-block;
                .btn_primary{
                    padding: .5rem .6rem .6rem 2rem;
                    font-size: 1.9rem;
                    font-weight: 500;
                    background-color: rgb(3, 3, 77);
                    border: 0;
                    border-radius: .4rem;
                    color: white;
                    font-family: 'Mulish', 'sans-serif';
                  
                }
                .righticon{
                    font-size: 3rem;
                    color: orangered;
                }

                &:hover .righticon{
                    color: rgb(3, 3, 77);
                }

                &:hover .btn_primary{
                    background-color: orangered;
                }
            }
          }
        }

        .card1{
            .card_body{
                background-color: rgb(3, 3, 77);
                padding: .8rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-decoration: none;
                .member_name{
                    font-size: 2rem;
                    color: white;
                    font-family: 'Mulish', 'sans-serif';
                }
                .designation{
                    font-size: 1.5rem;
                    color: orangered;
                }

                &:hover .member_name {
                    color:  rgb(3, 3, 77);
                } 
                
                &:hover .designation {
                    color:  rgb(3, 3, 77);
                } 

                &:hover{
                    background-color: orangered;
                }
            }
        }
      }
    }
    .modal{
        .modal-dialog{
           .modal-content{
            padding: 2rem 3rem;
            .modal-header{
                border: none;
                display: flex;
                align-items: center;
                margin-bottom: 1.5rem;
                .modal-title{
                    font-size: 2.5rem;
                    font-family: 'Mulish';
                    margin-bottom: 0;
                }
                .btn-close{
                    font-size: .9rem;
                    border: .1rem solid #ced4da;
                    padding: .8rem;
                    font-family: 'Mulish';

                    &:focus{
                        box-shadow: none;
                    }
                }
            }
            .modal-body{
                .form-control{
                    height: 4.5rem;
                    display: flex;
                    justify-content: center;
                    padding-left: 2rem;
                    align-items: center;
                    margin-bottom: 3rem;
                    border: .1rem solid #ced4da;
                    border-radius: .8rem;
                    &::placeholder{
                        font-size: 1.5rem;
                    }
                    &:focus{
                        box-shadow: none;
                        border: .1rem solid #86b7fe;
                    }
                }
                .textarea{
                    height: 10rem;
                    padding: 3rem 1.5rem;
                    border: .1rem solid #ced4da;
                    border-radius: .8rem;
                }
            }
            .modal-footer{
                border: none;
                .btn_primary{
                    font-size: 1.6rem;
                    background-color: #071c45;
                    width: 100%;
                    color: white;
                    padding: 0.8rem 0;
                    font-weight: 500;
                    border-radius: .8rem;
                }
            }
           }
        }
    }
}


@media (min-width: 768px) and (max-width: 991px){
    .teamSection{
        .container{
         .main_row{
            .card{
                padding: 2rem 1rem 2rem 2rem;
              .card-body{   
                .team_title{
                    font-size: 4rem;
                    margin-bottom: 4rem;
                    &::before{
                        bottom: -1rem;
                        width: 3rem;
                        height: .7rem;
                    }
                }
                .team_text{
                    font-size: 2.5rem;
                    margin-bottom: 3rem;
                }
                .btnsection{
                    .btn_primary{
                        padding: .5rem .6rem .6rem 2rem;
                        font-size: 2.2rem;
                        font-weight: 500;       
                    }
                    .righticon{
                        font-size: 4rem;
                    }
                }
              }
            }
    
            .card1{
                .card_body{
                    .member_name{
                        font-size: 2.8rem;
                    }
                    .designation{
                        font-size: 1.9rem;
                    }
                }
            }
         }
        }
        .modal{
            .modal-dialog{
               .modal-content{
                padding: 3.5rem 4rem;
                .modal-header{
                    margin-bottom: 1.8rem;
                    .modal-title{
                        font-size: 3rem;
                    }
                    .btn-close{
                        font-size: 1.2rem;
                        border: none;
                    }
                }
                .modal-body{
                    .form-control{
                        height: 7rem;
                        padding-left: 2rem;
                        margin-bottom: 4rem;
                        &::placeholder{
                            font-size: 1.9rem;
                        }
                    }
                    .textarea{
                        height: 12rem;
                        padding: 3rem 1.5rem;
                        border: .1rem solid #ced4da;
                        margin-bottom: 2rem;
                        border-radius: .8rem;
                        &::placeholder{
                            font-size: 1.9rem;
                        }
                    }
                }
                .modal-footer{
                    .btn_primary{
                        font-size: 2.3rem;
                        padding: 1rem 0;
                    }
                }
               }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .teamSection{
        .container{
         .main_row{
            margin-right: 5rem;
            .card{
                padding: 3rem 1rem 4rem 3rem;
              .card-body{   
                .team_title{
                    font-size: 4.5rem;
                    &::before{
                        bottom: -1rem;
                        width: 3.5rem;
                        height: .8rem;
                    }
                }
                .team_text{
                    font-size: 2.8rem;
                }
                .btnsection{
                    .btn_primary{
                        padding: .5rem .6rem .6rem 2rem;
                        font-size: 2.6rem;
                        font-weight: 500;       
                    }
                    .righticon{
                        font-size: 4.5rem;
                    }
                }
              }
            }
    
            .card1{
                .card_body{
                padding: 1rem 5rem;
                    .member_name{
                        font-size: 4rem;
                        padding: .8rem 0;
                    }
                    .designation{
                        font-size: 2.2rem;
                    }
                }
            }
         }
        }
        .modal{
            width: 70%;
            margin: 0 50%;
            transform: translateX(-50%);
            .modal-dialog{
               .modal-content{
                padding: 4rem 4.5rem;
                .modal-header{
                    margin-bottom: 4rem;
                    .modal-title{
                        font-size: 4rem;
                    }
                    .btn-close{
                        font-size: 1.6rem;
                    }
                }
                .modal-body{
                    .form-control{
                        height: 9rem;
                        padding-left: 2rem;
                        margin-bottom: 5rem;
                        &::placeholder{
                            font-size: 2.5rem;
                        }
                    }
                    .textarea{
                        height: 14rem;
                        padding: 3rem 2rem;
                        border: .1rem solid #ced4da;
                        margin-bottom: 2.5rem;
                        &::placeholder{
                            font-size: 2.5rem;
                        }
                    }
                }
                .modal-footer{
                    .btn_primary{
                        font-size: 2.7rem;
                        padding: 1.5rem 0;
                    }
                }
               }
            }
        }
    }  
}

@media (max-width: 575px){
    .teamSection{
        .container{
         .main_row{
            .card{
             padding: 3rem 1rem 4rem 3rem;
                .card-body{   
                  .team_title{
                      font-size: 4.5rem;
                      &::before{
                          height: .9rem;
                      }
                  }
                  .team_text{
                      font-size: 3rem;
                  }
                  .btnsection{
                      .btn_primary{
                          font-size: 3rem;      
                      }
                      .righticon{
                          font-size: 5rem;
                      }
                  }
                }
              }
      
              .card1{
                  .card_body{
                      .member_name{
                          font-size: 3.5rem;
                          padding: .8rem 0;
                      }
                      .designation{
                          font-size: 2.8rem;
                      }
                  }
              }
         }
        }
        .modal{
            width: 85%;
            margin: 0 50%;
            transform: translateX(-50%);
            .modal-dialog{
               .modal-content{
                padding: 3.5rem 4rem;
                .modal-header{
                    margin-bottom: 4rem;
                    .modal-title{
                        font-size: 3.8rem;
                    }
                    .btn-close{
                        font-size: 1.6rem;
                    }
                }
                .modal-body{
                    .form-control{
                        height: 8rem;
                        padding-left: 2rem;
                        margin-bottom: 5.5rem;
                        &::placeholder{
                            font-size: 2.4rem;
                        }
                    }
                    .textarea{
                        height: 16rem;
                        margin-bottom: 2.5rem;
                        &::placeholder{
                            font-size: 2.4rem;
                        }
                    }
                }
                .modal-footer{
                    .btn_primary{
                        font-size: 2.6rem;
                        padding: 1.3rem 0;
                    }
                }
               }
            }
        }
    }  
}