html {
  font-size: 62.5%;
}

.upperSection{
    width: 100%;
    padding: 1rem;
    background-color: rgb(4, 4, 80);

    .container{
     .contentSection{
        .content{
            display: flex;
            align-items: center;
            .icon{
                color: orangered;
                font-size: 2rem;
            }
            .numberField{
                font-size: 1.8rem;
                color: white;
                margin-bottom: 0;

                &:hover{
                    color: orangered;
                }
            }
        }
    }
    .iconlist{
        .icons{
            font-size: 2.5rem;
            color: white;
            &:hover{
                color: orangered;
            }
        }
    }
     }
}





@media (min-width: 768px) and (max-width: 991px){
    .upperSection{  
        .container{
         .contentSection{
            .content{
                .icon{
                    color: orangered;
                    font-size: 2.5rem;
                }
                .numberField{
                    font-size: 2.5rem;
                    margin-bottom: 0;
                }
            }
        }
        .iconlist{
            .icons{
                font-size: 3rem;
            }
        }
         }
    }
}


@media (min-width: 576px) and (max-width: 767px){
    .upperSection{  
        .container{
         .contentSection{
            .content{
                .icon{
                    color: orangered;
                    font-size: 2.5rem;
                }
                .numberField{
                    font-size: 2.5rem;
                    margin-bottom: 0;
                }
            }
        }
        .iconlist{
            .icons{
                font-size: 3rem;
            }
        }
         }
    }
}


@media (max-width: 575px){
    .upperSection{  
        .container{
         .contentSection{
            .content{
                .icon{
                    font-size: 4rem;
                }
                .numberField{
                    font-size: 3rem;
                }
            }
        }
        .iconlist{
            .icons{
                font-size: 4rem;
            }
        }
         }
    }
}
