

.aboutBlogSection{
    padding: 7rem 0;
    .blog_title{
        font-size: 3.8rem;
        font-weight: bold;
        color: #071c45;
        position: relative;
        margin-bottom: 4rem;
        &::before{
            content: '';
            position: absolute;
            bottom: -2rem;
            left: 0;
            width: 3rem;
            height: .6rem;
            background-color: orangered;
        }
    }
    .blog_text{
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    .blog_title1{
        font-size: 2.5rem;
        font-weight: bold;
        color: #071c45;
        margin-bottom: 2rem;
    }

    .card{
        .card-body{
            padding: 4rem 3rem;
            .peopleIcon{
                font-size: 6rem;
                color: orangered;
                margin-bottom: 2rem;            
            }
            .card-title{
                font-size: 2.3rem;
                font-weight: 700;
                margin-bottom: 1.3rem;
            }
            .card-text{
                font-size: 1.7rem;
            }
        }
    }
}


@media (min-width: 768px) and (max-width:991px) {
    .aboutBlogSection{
        .blog_title{
            margin-bottom: 5rem;
            &::before{
                bottom: -2rem;
                width: 3rem;
                height: .7rem;
            }
        }
        .blog_text{
            font-size: 2.5rem;
            margin-bottom: 3rem;
        }
        .card{
            .card-body{
                .peopleIcon{
                    font-size: 9rem;            
                }
                .card-title{
                    font-size: 3rem;
                }
                .card-text{
                    font-size: 2.4rem;
                }
            }
        }
        .blog_title1{
            font-size: 3rem;
        }
    } 
}

@media (min-width: 576px) and (max-width:767px) {
    .aboutBlogSection{
        .blog_title{
            font-size: 4.5rem;
            margin-bottom: 5rem;
            &::before{
                bottom: -2rem;
                width: 4rem;
                height: .7rem;
            }
        }
        .blog_text{
            font-size: 3rem;
            margin-bottom: 3rem;
        }
        .card{
            .card-body{
                .peopleIcon{
                    font-size: 11rem;            
                }
                .card-title{
                    font-size: 4rem;
                    margin-bottom: 3rem;
                }
                .card-text{
                    font-size: 3rem;
                }
            }
        }
        .blog_title1{
            font-size: 4rem;
        }
    } 
}

@media (max-width: 575px){
    .aboutBlogSection{
        padding: 7rem 5rem;
        .blog_title{
            font-size: 4.7rem;
            margin-bottom: 7rem;
            &::before{
                bottom: -4rem;
                width: 5rem;
                height: 1rem;
            }
        }
        .blog_text{
            font-size: 3.5rem;
            margin-bottom: 3.7rem;
        }
        .card{
            .card-body{
                .peopleIcon{
                    font-size: 12.5rem; 
                    margin-bottom: 3.5rem;           
                }
                .card-title{
                    font-size: 4rem;
                    margin-bottom: 3.7rem;
                }
                .card-text{
                    font-size: 3.3rem;
                }
            }
        }
        .blog_title1{
            font-size: 4rem;
            margin-bottom: 3rem;
        }
    } 
}